/*Stylos de la pagina*/

html{
  background: transparent url("../img/bk-eco.jpg") repeat;
}

body{
  background: transparent url("../img/bk-eco-ga.jpg") repeat;
}

header {
	height: 300px;
	
    background: transparent linear-gradient(-45deg, #6C9 0%, #399 100%) repeat scroll 0% 0%;
}

footer {
	  height: 150px;
    background: transparent linear-gradient(-45deg, #6C9 0%, #399 100%) repeat scroll 0% 0%;
}

#content {
  overflow: hidden;
  height: 886px;
}

#slider {
  width: 2280px;
}

#slider > div {
  height: 886px;
  width: 1140px;
  float: left;
}

small {margin-right: 129px;}


#computadora-fs {
   display: none;
}
#movil-fs {
   display: none;
}
#otros-fs {
   display: none;
}

#lema {margin-top: 80px;}

.jumbotron-2{width: 1100px;}

/*Formulario versatil*/



